html
  head
    meta(content='utf-8', http-equiv='encoding')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='text/html;charset=utf-8', http-equiv='Content-Type')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='google-signin-clientid', content='1028034467088-bjl0fciaa5k074kbpdrvepflomepqujg.apps.googleusercontent.com')
    meta(name='google-signin-cookiepolicy', content='single_host_origin')
    meta(name='google-signin-callback', content='signinCallback')
    meta(name='google-signin-requestvisibleactions', content='http://schemas.google.com/AddActivity')

    meta(name='google-signin-scope', content='https://www.googleapis.com/auth/plus.login')

    link(rel='shortcut icon', href='/img/favicon.ico')
    title uCard

    link(rel='stylesheet', href='css/bootstrap.min.css')

  body
    .container
      .p.lead uCard - your id ... in the cloudy

      #signinButton

      #userData

    script(src='js/jquery-2.1.1.min.js')
    script(src='js/bootstrap.min.js')
    //script(src="https://apis.google.com/js/client.js")
    script(src='js/site.js')
    script(src="https://apis.google.com/js/client:plusone.js?onload=load")
